.myServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 8rem;
}

.myServices > h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


.myServices > p {
    font-size: 1.55rem;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;  
    opacity: 0.8;
}


.servicesContainer {
    margin-top: 2rem !important;
}



@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {
    .myServices {
        padding-top: 3rem;
    }
}

@media screen and (max-width: 800px) {
    .myServices {
        padding: 2rem;
        padding-top: 3rem;
    }
    
    .myServices > h1 {
        font-size: 2.5rem;
    }

    .myServices > p {
        font-size: 1.45rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {
    .myServices {
        padding: 2rem;
        padding-top: 3rem;
    }
    .myServices > h1 {
        font-size: 2rem;
    }

    .myServices > p {
        font-size: 1.25rem;
    }
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .myServices {
        padding: 1rem;
        padding-top: 2.5rem;
    }
    .myServices > h1 {
        font-size: 2rem;
    }

    .myServices > p {
        font-size: 1.25rem;
    }
}


@media only screen and (device-width: 768px) {

}