.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    position: relative;
}

.skillsContainer {
    margin: 3rem;
    width: 65%;
}

.skillsContainer > h2 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.skillsCardContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillsCardOne, .skillsCardTwo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skillsCardThree {
    margin: 4rem;
}



@media (min-width: 992px) and (max-width: 1380px) {
    .skillsContainer {
        margin: 3rem;
        width: 80%;
    }
}


@media screen and (max-width: 992px) {
    .skillsContainer {
        margin: 3rem;
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .skillsContainer {
        margin: 2.5rem;
        width: 100%;
    }
    
    .skillsContainer > h2 {
        font-size: 2.5rem;
    }
    .skillsCardOne, .skillsCardTwo {
        flex-direction: column;
    }
    .skillsCardThree {
        margin: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .skillsContainer {
        margin: 1.5rem;
    }
    .skillsCardThree {
        margin: 1rem;
    }
}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .skillsContainer {
        margin: 0.5rem;
    }
    .skillsContainer > h2 {
        font-size: 2.5rem;
    }
}


@media only screen and (device-width: 768px) {

}