footer {
    font-family: system-ui;
    background: #C0CBC0;
    text-align: center;
}
  
  
  .site-footer {
     /* Remove */
      position: relative;
      background-color:#1a001a;
      width: 100%;	
      bottom: 0; 
  }
  
  .site-footer .container {
      max-width: 95%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      padding-top: 20px;
  }
  
  .site-footer .container h1 {
      font-size: 40px;
  }
  
  .site-footer .container h2 {
      font-size: 40px;
      float: right;
  }
  
  .site-footer .grid-container a {
      color: #ffb3ff;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      line-height: 15.25px;
      font-family: 'Lato', sans-serif;
  }
  
  .site-footer .grid-item {
      padding: 10px;
      color: #ffb3ff;
  }
  
  
  .site-footer .grid-container .inner-grid-container {
      display: grid;
      grid-template-columns: 100px 100px;
      grid-row: auto auto;
      text-align: left;
  }
  
  .site-footer .container hr { 
      display: block; 
      height: 1px;
      border: 0; 
      border-top: 1px solid #ffb3ff;
      margin: 1px; 
      padding: 0; 
  }
  
  .site-footer .container p {
    font-size: 14px;
    text-align: center;
    color: #ffb3ff;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .site-footer .container .logo-img {
      width: 180px;
      height: 150px; 
      pointer-events: none;     
  }
  
  .site-footer .grid-container .grid-icon .social-buttons {
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  
  
  .site-footer .grid-container .grid-icon .social-buttons a {
      display: inline-flex;
      text-decoration: none;
      font-size: 28px;
      width: 30px;
      height: 30px;
      color: #1a001a;
      justify-content: center;
      align-items: center;
      position: relative;
      background: #ffb3ff;
      transition: 0.8s;
      padding:12px;
      border-radius: 100%;
      margin: 20px;
}

.site-footer .grid-container .grid-icon .social-buttons a:hover {
    color: #ffb3ff;
    background: #1a001a;
    transform: rotateY(180deg); 
}

.grid-item{
    margin-top: 0.5rem;
    padding: 1rem !important;
    justify-content: space-between !important;
}  
  
  .site-footer .grid-container .grid-icon .social-buttons a i{
      transition: 0.3s ease-in;
  }
  
  .site-footer .grid-container .grid-icon  .social-buttons a:hover i {
      background: linear-gradient(45deg,#A2845C,#A2845C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: scale(1.5);
  }
  

  
  
  /*------------------------------------------------------------------
  [ Screen Sizes] */
  @media only screen and (max-width: 600px) {
    .grid-one {
        display: none;
    }
  }

  
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .site-footer .container {
        max-width: 100%;
    }

    .site-footer {
        bottom: 0; 
    }

    .site-footer .grid-container {
        display: grid;
        grid-template-columns: 400px;   
    }

    .site-footer .grid-container .inner-grid-container {
        display: grid;
        grid-template-columns: auto auto ;
        text-align: left;
        margin-left: 1rem;
        margin-right: 1rem;
    }  
    .site-footer .grid-container .grid-icon .social-buttons a {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin: 0 4px;
    }
    .circle-icon {
        margin: 15px !important;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
  }

  @media screen and (max-width: 400px) {
    .site-footer .grid-container {
        display: grid;
        grid-template-columns: auto;   
    }
}
  
  /*========================================================*/
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
      .site-footer {
          bottom: 0;
      }
  
      .site-footer .grid-container {
          display: grid;
          grid-template-columns: 250px 300px 350px;
          justify-content: space-between;
          align-content: center;
          align-items: center;
      }
  
      .site-footer .grid-container .inner-grid-container{
          display: grid;
          grid-template-columns: auto auto;
          text-align: left;
      }
  
  }
  
  
  
  
  