.blog {
    padding-top: 0rem;
    padding-bottom: 8rem;
}

.box-container{
    background-image: url('../../assets/bg2.jpg');
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    position: relative;
    }

.box-title{
    position: absolute;
    font-size: 5rem;
    top: 46%;
    left: 37%;
    -ms-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
    color: #211e27;
    font-family: 'HarryP-MVZ6w';
}



.blogs-container{
    padding-top: 0.75rem;
} 

.MuiGrid-spacing-xs-5 {
    width: calc(100% + 30px);
}

.blog-title{
    font-weight: bold !important;
    font-family: 'Lato', sans-serif !important; 
    padding-bottom: 2rem;
}

.blog-card {
    max-width: 100%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 45%) !important;
    margin-bottom: 1.5rem;
    text-decoration: none;
}

a {
    text-decoration: none;
}


.blog-icon{
    margin-right: 0.75rem;
}

.img-container{
    
    height: 190px;
}

.card-actions{
    display: flex;
    justify-content: space-between;
}

.blog-author{
    display: flex;
}

/* .blog-card:hover, .card-actions:hover{
    cursor: pointer ;
    background-color: #e29ae2;
} */



/* .blog-card:hover {
    margin-top: -1rem;
    transition: 0.8s;
} */

.blog-search {
    margin-bottom: 4rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    width: 800px;
}

.searchClose {
    cursor: pointer;
    color: #800080 !important;
}

.spin {
    -webkit-transform: rotate(180deg);
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes spin /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes spin {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  .spin:hover {
    -webkit-animation: spin .4s linear;
    -moz-animation: spin .4s linear;
    -ms-animation: spin .4s linear;
    -o-animation: spin .4s linear;
    animation: spin .4s linear;
  }


  .shadows {
    text-transform: uppercase;
    text-shadow: -7px 7px 11px #211E27;
    letter-spacing: -0.05em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 0.25s ease-out;
  }
  
  .shadows:hover {
    text-shadow: -2px 6px 15px #211E27;
  }

@media (min-width: 992px) and (max-width: 1380px) {
    .searchInput {
        width: 600px;
    }
    
}


@media screen and (max-width: 992px) {
    .searchInput {
        width: 360px;
    }
}

 @media screen and (max-width: 800px){
    .box-container{
        height: 350px;
        margin-bottom: 2rem;
    }

    .blog-title{
        font-size: 1rem !important;
    }

    .img-container{
        height: 160px;
    }
   .box-title {
        position: absolute;
        top: 44%;
        left: 28%;
        font-size: 3rem;
    }
 }

 @media screen and (max-width: 600px){
    .box-container{
        height: 300px;
    }

    .blog-title{
        font-size: 1.5rem !important;
    }

}

@media screen and (max-width: 400px){
    .box-container{
        height: 270px;
    }

    .blog-title{
        font-size: 1.5rem !important;
    }

    .searchInput {
        width: 320px;
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .box-title {
        position: absolute;
        top: 44%;
        left: 21%;
        font-size: 2.75rem;
    }
    .searchInput {
        width: 260px;
    }
}


.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
  }