.landing {
    height: 100vh;
    overflow: hidden;
    /*background-image: url('../../../assets/bgtemp.png');*/
    /* background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #40e0d0;
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    padding-top: 7rem;
    padding-bottom: 0;
    
}

.landing_text {
    flex: 0.6;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

.landing_text > h1 {
    color: #ffe6ff;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    width: 85%;
}

.landing_text > a > button, .landing_text > a > button:hover {
    margin-top: 5rem;
    color: black;
    font-weight: 600;
    text-transform: inherit;
    padding: 1rem 2rem;
    background-color: #40e0d0;
    border-radius: 34px;
    box-shadow: 4px 8px 34px -5px rgb(51 0 51 / 79%);
    -webkit-box-shadow: 4px 8px 34px -5px rgb(51 0 51 / 79%);
    -moz-box-shadow: 4px 8px 34px -5px rgba(51,0,51,0.79);
}


.landing_img {
    
    margin-bottom: 60px;
    flex: 0.4;
    border-radius: 10%;
}

.frame {
   
	background-color:#d9d9f2;
  border:solid 3.1vmin #eee;
  border-bottom-color: #20c5b5;
  border-left-color: #20c5b5;
  border-radius:12px;
  border-right-color: #20c5b5;
  border-top-color: #20c5b5;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  padding: 1.1rem;
  position:relative;
  text-align:center;

}


.frame > img {
    height: 500px;
    overflow: hidden;
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
    opacity: .9;
    pointer-events: none;
    /* width: 100%; */
    border-radius: 10%;
}



.fadeIn {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 

.landing > .img-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-image: linear-gradient(rgba(255, 0, 0, 0), #000000);
}


@media (min-width: 992px) and (max-width: 1380px) {
    .landing_container {
        padding: 3rem;
        padding-top: 5rem;
        padding-bottom: 0;
    }
    .landing_text > h1 {
        font-size: 2.2rem;
        width: 90%;
    }
    .landing_text{
        flex: 0.5;
    }
    .landing_img{
        flex: 0.5;
    }
    
}


@media screen and (max-width: 992px) {
    .landing_text > h1 {
        font-size: 2.15rem;
        width: 90%;
    }
    .landing_container {
        padding: 2rem;
        padding-top: 2rem;
    }
    .landing_text {
        margin: 2rem;
        margin-left: 0;
    }
    .landing_text > a > button, .landing_text > a > button:hover{
        color: #000000 !important;
        background-color: #ffe6ff;
    }
}

@media screen and (max-width: 800px) {
    .landing {
        background-image: url('../../../assets/img4.jpeg');
        align-items: flex-end;
        background-size: cover;
    }
    .landing_container {
        padding: 1rem;
        padding-bottom: 3rem;
    }  
    .landing_text {
        margin: 0.5rem;
        flex: 1;
    }
    .landing_text > h1 {
        font-size: 1.95rem;
        margin: 1rem;
        margin-left: 0; 
    }
    .landing_text > a > button, .landing_text > a > button:hover {
        margin-top: 2.5rem;
        color: #ffe6ff;
        text-transform: inherit;
        padding: 1rem 2rem;
    }
    .landing_img {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .landing_text > a > button, .landing_text > a > button:hover {
        margin-top: 1.5rem;
        color: #ffe6ff;
        text-transform: inherit;
        padding: 0.8rem 1.8rem;
    }
    .landing_text > h1 {
        font-size: 1.45rem;
        margin: 1.2rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .landing_text > h1 {
        font-size: 1.25rem;
        margin: 0.2rem;
        margin-left: 0;
    }
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .landing_text > h1 {
        font-size: 1.25rem;
        margin: 0.2rem;
    }

}


@media only screen and (device-width: 768px) {

}